.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  background-color: #d3e2ff;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 1vmin); */
  color: black;
}

.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .65;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  padding-top: 2rem;
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  min-width: 250px;
  padding: 2rem;
  display: flex;
  flex-flow: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: aqua;
}

.modal-main {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.modal-footer {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: aqua;
}

.modal-close-button {
  font-size: 2.5rem;
  font-weight: 1000;
  line-height: 1;
  color: rgb(252, 7, 7);
  background: rgb(5, 71, 99);
  opacity: .9;
  cursor: pointer;
  border: 5px;
}

button {
  font-size: .9rem;
  font-weight: 700;
  border: 5px;
  color: black;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
  cursor: pointer;
  border: 25px;
}

.button-default {
  background: #247BA0;
  color: #fff;
}